---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout>
  <header>
    <nav>
      <ul>
        <li><a href="#">Jogo</a></li>
        <li><a href="#">Enredo</a></li>
        <li><a href="#">Personagens</a></li>
        <li><a href="#">Monstros</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="introduction">
      <img src="/logo.png" alt="The Last of Us" />
      <img src="/scroll.svg" alt="Scroll" />
    </section>
  </main>
</Layout>
