---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/700.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Last of Us</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #0D0D0D;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 14px;
  }

  body {
    background-color: #03080D;
  }
</style>
